label {
    width: 180px;
    clear: left;
    text-align: left;
    padding-right: 10px;
}

/* input, label {
    float: left;
} */

.supplier-heading {
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: teal;
}

.supplier-search {
    display: flex;
    justify-content: center;
}

.add-supplier-heading {
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: teal;
}

.table tr:hover {
    background-color: darkcyan;
}

.add-supplier-details {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}

.add-supplier-details button:hover {
    background-color: green;
}

.edit-supplier-details {
    width: 70%;
}

.text-center {
    display: flex;
    /* justify-content: center; */
}

