<br>
<h2 class="supplier-heading">Suppliers</h2>
<div class="row">
  <input type="text" placeholder="        Search for a supplier" [(ngModel)]="searchText" />
</div>
<br>
<br>
<table class="table">
    <thead>
        <th scope="col"> Name: </th>
        <th scope="col"> City: </th>
        <th scope="col"> Reference: </th>
    </thead>
    <tbody>
      <tr *ngFor="let supplier of suppliers | filter:searchText | paginate: {itemsPerPage: 10, currentPage: p}"  (click)="onSelect(supplier)">
        <td> {{supplier.name}} </td>
        <td> {{supplier.city}} </td>
        <td> {{supplier.reference}} </td>
        <td> 
          <button mat-flat-button color="warn"
                  mwlConfirmationPopover
                  [popoverTitle]="popoverTitle"
                  [popoverMessage]="popoverMessage"
                  placement="left"
                  (confirm)="deleteSupplier(supplier)" 
                  (cancel)="cancelClicked = true">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
</table>
<pagination-controls class="text-center" (pageChange)="p = $event"></pagination-controls>

<div class="edit-supplier-details" *ngIf="selectedSupplier">
  <app-supplier-detail [supplier]="selectedSupplier"></app-supplier-detail>
</div>

<div class="add-div" *ngIf="!selectedSupplier">
  <h2 class="add-supplier-heading">Add supplier</h2>
  <div class="add-supplier-details">
    <label>Supplier Name:   
      <input #supplierName>
    </label>
    <br>
    <label>Supplier City:
      <input #supplierCity>
    </label>
    <br>
    <label>Supplier Reference:
      <input #supplierReference>
    </label>
    <br style="line-height:8;"><br>
    <button mat-raised-button (click)="addSupplier(supplierName.value, supplierCity.value, supplierReference.value); 
                    supplierName.value=''; supplierCity.value=''; supplierReference.value=''">Add</button>
  </div>                 
</div>