<h2>Issues</h2>
<div class="row" style="justify-content: center">
  <input type="text" placeholder="        Search for an issue" [(ngModel)]="searchText" />
</div>
<table class="table">
  <thead>
    <tr>
      <th> Title: </th>
      <th> Series: </th>
      <th> Thumbnail: </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let issue of issues |
                filter:searchText |
                paginate: {itemsPerPage: 10, currentPage: p}">
      <td> {{issue.title}} </td>
      <td> {{issue.series}} </td>
      <td> 
        <img src="{{issue.thumbnail.path}}.{{issue.thumbnail.extension}}" alt="Not found">
      </td>
    </tr>
  </tbody>
</table>
<pagination-controls class="text-center" (pageChange)="p = $event"></pagination-controls>
