nav {
    margin:0 auto;
    display:block;
    width: 200px;
}

h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-right: 40px;
    font-weight: bold;
}