/* table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
} */

/* th {
    text-align: left;
} */

label {
    width: 180px;
    clear: left;
    text-align: left;
    padding-right: 10px;
}

input, label {
    float: left;
}

h2 {
    padding-left: 860px;
}

.row {
    /* padding-left: 25px; */
    padding-left: 840px;
}

.table tr:hover {
    background-color: darkcyan;
}