<!-- <table>
  <tr>
    <th> Name: </th>
    <th> City: </th>
    <th> Reference: </th>
  </tr>
  <tr *ngFor="let supplier of suppliers" (click)="onSelect(supplier)">
    <td> {{supplier.name}} </td>
    <td> {{supplier.city}} </td>
    <td> {{supplier.reference}} </td>
  </tr>
</table> -->

<br>
<div class="row">
  <input type="text" placeholder="Search" [(ngModel)]="searchText" />
</div>
<br>
<br>
<table class="table">
    <thead>
      <tr>
        <th> Name: </th>
        <th> City: </th>
        <th> Reference: </th>
        <!-- <th> Status: </th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let supplier of suppliers | filter:searchText | paginate: {itemsPerPage: 10, currentPage: p}"  (click)="onSelect(supplier)">
        <td> {{supplier.name}} </td>
        <td> {{supplier.city}} </td>
        <td> {{supplier.reference}} </td>
        <!-- <td> {{supplier.status}} </td> -->
      </tr>
    </tbody>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>

<div *ngIf="selectedSupplier">
  <app-supplier-detail [supplier]="selectedSupplier"></app-supplier-detail>
</div>

<div class="add-div" *ngIf="!selectedSupplier">
  <h2>Add supplier</h2>
  <label>Supplier Name:   
    <input #supplierName>
  </label>
  <br>
  <label>Supplier City:
    <input #supplierCity>
  </label>
  <br>
  <label>Supplier Reference:
    <input #supplierReference>
  </label>
  <br style="line-height:5;"><br>
  <button mat-raised-button (click)="addSupplier(supplierName.value, supplierCity.value, supplierReference.value); 
                   supplierName.value=''; supplierCity.value=''; supplierReference.value=''">Add</button>
                   
</div>
<!-- <button mat-raised-button>Basic</button> -->
<!-- <button mat-fab>Basic</button>
<button mat-fab color="primary">Primary</button>
<button mat-fab color="accent">Accent</button>
<button mat-fab color="warn">Warn</button>
<button mat-fab disabled>Disabled</button> -->