label {
    width: 180px;
    clear: left;
    text-align: left;
    padding-right: 10px;
}

input, label {
    float: left;
}

.supplier-heading {
    font-weight: bold;
    color: teal;
}

.add-supplier-heading {
    font-weight: bold;
    color: teal;
}

.table tr:hover {
    background-color: darkcyan;
}

.add-supplier-details {
    width: 70%;
}

.add-supplier-details button:hover {
    background-color: green;
}

.edit-supplier-details {
    width: 70%;
}

