label {
    width: 180px;
    clear: left;
    text-align: left;
    padding-right: 10px;
}

input, label {
    float: left;
}

h2 {
    display: flex;
    font-weight: bold;
    color: teal;
    justify-content: center;
}

.supplier-detail div{
    display: flex;
    justify-content: center;
}

.edit-supplier-buttons {
    display: flex;
    /* justify-content: center; */
    justify-content: center;
    align-items: center;
}

/* .edit-supplier {
    display: flex;
    flex-direction: column;
} */