<div class="edit-supplier" *ngIf="supplier">
  <h2>Edit supplier details</h2>
  <div>
      <label>Supplier Name:<br>
        <input [(ngModel)]="supplier.name" placeholder="name"/>
      </label>
  </div>
  <br>
  <div>
      <label>Supplier City:<br>
        <input [(ngModel)]="supplier.city" placeholder="city"/>
      </label>
  </div>
  <br>
  <div>
      <label>Supplier Reference:<br>
        <input [(ngModel)]="supplier.reference" placeholder="reference"/>
      </label>
  </div>
  <br style="line-height:5;"><br>
  <button (click)="save()">Save</button>
  <button (click)="delete()">Delete</button>
  <button (click)="goBack()">Go back</button>
</div>
