<div class="edit-supplier" *ngIf="supplier">
  <h2>Edit supplier details</h2>
  <br>
  <div>
      <label>Name:<br>
        <input [(ngModel)]="supplier.name" placeholder="name"/>
      </label>
  </div>
  <div>
      <label>City:<br>
        <input [(ngModel)]="supplier.city" placeholder="city"/>
      </label>
  </div>
  <div>
      <label>Reference:<br>
        <input [(ngModel)]="supplier.reference" placeholder="reference"/>
      </label>
  </div>
  <button (click)="save()">Save</button>
  <button (click)="goBack()">Go back</button>
</div>
